body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:white;
}

header {
  background: green;
  color: blue;
  padding: 10px;
  text-align: center;
}

nav a {
  color: pink;
  margin: 0 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}

h2 {
  color: orange;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background:pink;
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ccc;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: orange;
  color: red;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: violet;
}

footer {
  background:skyblue;
  color: red;
  text-align: center;
  padding: 10px;
}